
.container-header {
display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  background-color: black;
  color: white;
}

.nav{
display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav a{
  text-decoration: none;
  color: white;
}

.nav a:hover{
  color: red;
}




